/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Css Reset */
* {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../images/bg1.jpeg) center no-repeat;
  background-size: cover;
}

/* Banner */
.banner {
  color: #fff;
  width: 750px;
  /* Positon banner div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
  /* Positon banner content using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Banner Heading */
.banner-heading {
  /* Change Font family */
  font-family: "Roboto Condensed", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 80px;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #fff;
}

/* Arrow */
.arrow {
  font-size: 50px;
  margin-bottom: 30px;
  animation: anim 3s infinite;
}

/* Banner Button */
.banner-btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  outline: none;
  padding: 15px;
  text-transform: uppercase;
  transition: transform 0.3s;
  width: 200px;
}

.banner-btn:hover {
  transform: translateY(-1px);
}

/* Annimation for the arrow icon */
@keyframes anim {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Hide the form container */
.form-container {
  display: none;
}
