/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Css Reset */
* {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../images/bg1.jpeg) center no-repeat;

  background-size: cover;
}

/* Banner */
.banner {
  color: #fff;
  width: 750px;
  /* Positon banner div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
  /* Positon banner content using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

/* Banner Heading */
.banner-heading {
  /* Change Font family */
  font-family: "Roboto Condensed", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 80px;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #fff;
}

/* Arrow */
.arrow {
  font-size: 50px;
  margin-bottom: 30px;
  animation: anim 3s infinite;
}

/* Banner Button */
.banner-btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  outline: none;
  padding: 15px;
  text-transform: uppercase;
  transition: transform 0.3s;
  width: 200px;
}

.banner-btn:hover {
  transform: translateY(-1px);
}

/* Annimation for the arrow icon */
@keyframes anim {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Hide the form container */
.form-container {
  display: flex;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  /* opacity: 0;
  visibility: hidden; */
  transition: opacity 1s;
}

/* Sign up form */
.sign-up-form {
  width: 50%;
  background-color: #232328;
  padding: 120px 50px;
  box-sizing: border-box;
}

/* Form inputs */
.form-input {
  width: 300px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #cc683c;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  margin-bottom: 50px;
  outline: none;
  padding: 10px 0;
  transition: border-bottom-color 0.8s;
}

.form-input:focus {
  border-bottom-color: #cc683c;
}

/* Paragraph */
.sign-up-form p {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 8px;
}

/* Label */
.sign-up-form label {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Checkbox */
.sign-up-form input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 15px;
  background-color: #eee;
  outline: none;
  border-radius: 20px;
  margin: 0 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s;
}

.sign-up-form input:checked[type="checkbox"] {
  background-color: #cc683c;
}

.sign-up-form input:checked[type="checkbox"]::before {
  left: 18px;
}

.sign-up-form input[type="checkbox"]::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #aaa;
  position: absolute;
  border-radius: 50%;
  top: -1px;
  left: -4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: left 0.5s;
}

/* Button */
.sign-up-form button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 80px;
  outline: none;
  padding: 8px 5px;
  text-transform: uppercase;
  width: 150px;
}

/* Header */
.header {
  width: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(../images/bg2.jpeg) center no-repeat;
  background-size: cover;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

.header h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* x button */
.x-btn {
  position: absolute;
  bottom: -6%;
  color: #262626;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
  right: 1%;
}

/* Media Quries */
@media (max-width: 850px) {
  .form-container {
    width: 600px;
    height: 400px;
  }

  .sign-up-form {
    padding: 50px 30px;
  }

  .form-input {
    width: 200px;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 7px 0;
  }

  .sign-up-form p {
    font-size: 15px;
  }

  .sign-up-form label {
    font-size: 13px;
  }

  .sign-up-form input[type="checkbox"] {
    width: 25px;
    height: 12px;
  }

  .sign-up-form input[type="checkbox"]::before {
    width: 14px;
    height: 14px;
  }

  .sign-up-form button {
    margin-top: 50px;
    width: 120px;
    padding: 6px 4px;
    font-size: 13px;
    border-width: 1px;
  }

  .header h1 {
    font-size: 30px;
  }
}
